<div class="row formularDivs">
  <span class="col-md-2"></span>
  <span class="col-md-8 d-flex justify-content-center"><h2>Join a Game</h2></span>
  <span class="col-md-2"></span>
</div>
<div class="row formularDivs">
  <span class="col-md-2"></span>
  <span class="col-md-8 d-flex justify-content-center">
            <p>
                Please Provide the following details: <br/>
            </p></span>
  <span class="col-md-2"></span>
</div>

<div class="row formularDivs">
  <span class="col-md-2"></span>
  <span class="col-md-8 d-flex justify-content-center">
            Game Code: &nbsp;<input type="text" name="input-Code" id = "input-Code" value=""/>
        </span>
  <span class="col-md-2"></span>
</div>
<div class="row formularDivs">
  <span class="col-md-2"></span>
  <span class="col-md-8 d-flex justify-content-center">
            <a id="JoinGame" class="myGameButton" (click)="startGame()">Join Game</a>
        </span>
  <span class="col-md-2"></span>
</div>
<div class="row formularDivs">
  <span class="col-md-2"></span>
  <span class="col-md-8 d-flex justify-content-center">
            <a routerLink = ""> Back to Homepage </a>
        </span>
  <span class="col-md-2"></span>
</div>
