#board{
  margin: auto;
  z-index: 20;
}

.tableBoard{
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0;
}

td{
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 40px;
  max-height: 40px;
  height: 40px;
  width: 40px;
  vertical-align: center;

}

.tableMarginPadding{
  display: flex;
  margin: 0;
  padding: 0;
}

.field{
  display: grid;
  border: none;
  margin: 0;
  max-width: 40px;
  max-height: 40px;
  height: 40px;
  width: 40px;
}

.winLoseField{
  z-index: 20;
  display: none;
}
