<div class="col-md-2">
</div>
<div class="col-md-8" id="board">
  <div id="Winner" style="display: none">You Won!</div>
  <div id="Loser" style="display: none">You Lose!</div>

  <table class='tableBoard'>
    <tr>
      <td class='tableMarginPadding' >
        <img src='assets/Gobang/background_1.png' class='field' id='1_1' alt='image' (click)='makeMove(1,1)'>
      </td>
      <td class='tableMarginPadding' >
        <img src='assets/Gobang/background_1.png' class='field' id='1_2' alt='image' (click)='makeMove(1,1)'>
      </td>
      <td class='tableMarginPadding' >
        <img src='assets/Gobang/background_1.png' class='field' id='1_3' alt='image' (click)='makeMove(1,1)'>
      </td>
    </tr>
  </table>
</div>
<div class="col-md-2">
</div>
