
@import "../../bootstrap.min.css";

table.table-bordered{
  z-index: 0;
  border:1px solid black;
  margin-top:20px;
}
table.table-bordered > thead > tr > th{
  border:1px solid black;
}
table.table-bordered > tbody > tr > td{
  border:1px solid black;
}

.tableBoard{
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0px;
}
.tableMarginPadding{
  display: flex;
  margin: 0px;
  padding: 0px;
}

.field{
  display: grid;
  border: none;
  margin: 0px;
  height: 40px;
  width: 40px;
}

.winLoseField{
  z-index: 20;
  display: none;
}
