
@import "../../bootstrap.min.css";

.myGameButton{
  background-color: rgba(226, 214, 85, 0.29);
  color: rgba(132, 79, 29, 0.91);
  margin: 2px;
  border: 1px outset buttonborder;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
}

a{
  color: rgba(132, 79, 29, 0.91);
}

a:hover{
  text-decoration: none;
  color: rgba(132, 79, 29, 0.91);
  cursor: pointer ;
}
input[type="checkbox"] {
  transform: scale(2);
  margin: 10px;
}
