
@import "../bootstrap.min.css";

#footer{
  background-color: rgb(145, 168, 90);
  padding-top: 5px;
  padding-bottom: 5px;
}
#footerButtons{
  margin: auto;
}

.myButton{
  background-color: rgb(145, 168, 90);
  color: rgba(132, 79, 29, 0.91);
  margin: 2px;
  border: 1px outset buttonborder;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
}

a{
  color: rgba(132, 79, 29, 0.91);
}

a:hover{
  text-decoration: none;
  color: rgba(132, 79, 29, 0.91);
}
